.color-picker {
  margin-top: 20px;
}

.color-picker h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.color-picker__controls {
  display: flex;
  gap: 20px;
}

.color-picker__control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.color-picker__control label {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.color-picker__control input[type="color"] {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  background-color: transparent; /* Standard: transparente Hintergründe */
  border-radius: 5px; /* Optional: Abgerundete Ecken */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Optional: Schattierung */
}

.color-picker__control input[type="color"]:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Effekt beim Hover */
}

  