.visualizer-selector {
  margin: 20px 0;
}

.visualizer-selector h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.visualizer-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.visualizer-button {
  padding: 10px 100px;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff00;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  outline: none;
}

.visualizer-button.active {
  background-color: #003fdd74;
  color: black;
  border-color: #0040DD;
  outline: none;
}


